<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>mvcBoard</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
     <servlet-name>BoardFrontController1</servlet-name>
   <servlet-class>net.board.action.BoardFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>BoardFrontController1</servlet-name>
     <url-pattern>*.bo</url-pattern> <!-- 브라우저에 들어오는 무엇이든 확장자가 .bo이면 BoardFrontController에서 처리하겠다 -->
  </servlet-mapping>
</web-app>